.culture {
	@extend %content__area--dark;

	position: relative;
	overflow: hidden;

	&__wrapper {
		@extend %site-wrapper;

		padding-top: rem-calc(200);
		padding-bottom: rem-calc(200);

		@include media('>phone-small') {
      
    }
  
    @include media('>tablet') {
      flex-direction: row;
      align-items: flex-end;
    }
  
    @include media('>desktop-small') {
      padding: rem-calc(200) rem-calc(140) rem-calc(200);
    }
  
    @include media('>desktop-medium') {
      padding: rem-calc(200) rem-calc(180) rem-calc(200);
    }
  
    @include media('>desktop-large') {
      padding: rem-calc(200) rem-calc(260) rem-calc(200) rem-calc(268);
    }
	}

	&-large-decoration {
		@extend %text-decoration__large--right;

		top: rem-calc(730);
		right: rem-calc(26);
		z-index: 2;

		@include media('>phone-small') {
			top: rem-calc(684);
		}

		@include media('>phone') {
			top: rem-calc(688);
			right: rem-calc(115);
		}

		@include media('>tablet') {
			top: rem-calc(774);
			right: rem-calc(125);
		}

		@include media('>desktop-small') {
			top: rem-calc(948);
			right: rem-calc(155);
		}

		@include media('>desktop-medium') {
			top: rem-calc(1046);
			right: rem-calc(165);
		}

		@include media('>desktop-large') {
			top: rem-calc(1152);
			right: rem-calc(170);
		}

		@include media('>desktop-xlarge') {
			top: rem-calc(1195);
			right: rem-calc(173);
		}

		&__text {
			@extend %text-decoration__large-label--dark;

			font-size: rem-calc(72);

			@include media('>phone-small') {
				font-size: rem-calc(67);
			}

			@include media('>phone') {
				font-size: rem-calc(68);
			}

			@include media('>tablet') {
				font-size: rem-calc(76);
			}

			@include media('>desktop-small') {
				font-size: rem-calc(94);
			}

			@include media('>desktop-medium') {
				font-size: rem-calc(104);
			}

			@include media('>desktop-large') {
				font-size: rem-calc(114);
			}

			@include media('>desktop-xlarge') {
				font-size: rem-calc(118);
			}
		}
	}

	&-decoration {
		@extend %text-decoration--right;

		z-index: 2;

		@include media('<=phone') {
			top: 19%;
			right: 99%;
		}

		@include media('<=600px') {
			right: 98%;
		}

		@include media('>phone') {
			top: 20%;

		}
		&__label {
			@extend %text-decoration__label--dark;

			&-inner {
				@extend %text-decoration__label-inner--dark;
			}
		}

		&__number {
			@extend %text-decoration__number--dark;

			@include media('<=phone') {
				color: $color-licorice;
			}
		}
	}

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
		position: relative;
    flex-direction: column;

    @include media('>tablet') {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__media {
		position: relative;
		z-index: 2;
    max-width: 100%;
    padding-left: rem-calc(60);
    margin-bottom: rem-calc(-50);
    z-index: 4;
    width: 100%;

    &::before {
			content: "";
			position: absolute;
			bottom: 20%;
			left: 10%;
			z-index: 2;
			width: 60%;
      height: 100%;
			background-color: $color-orange;

			@include media('>tablet') {
				left: 40%;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        bottom: rem-calc(50);
			}
		}

    @include media('>tablet') {
      width: auto;
      max-width: 40%;
      padding-left: 0;
      margin-bottom: 0;
      z-index: 2;
    }

    &-main {
      text-align: right;
      line-height: 0;

      @include media('>tablet') {
        text-align: left;
      }
    }
	}

  &__image {
    position: relative;
    z-index: 4;
  }

  &__picture {
    &-main {
      display: inline-block;
			position: relative;
			z-index: 2;

      img {
        display: block;
        margin-left: auto;
      }

			&::before {
				@extend %image__color-burn--left;
				z-index: 5;
        display: none;

        @include media('>tablet') {
          display: block;
        }
			}

      &::after {
				@extend %dots-pattern;

        top: -5%;
        right: 5%;
        z-index: 1;
        width: 100%;
        height: 100%;

				@include media('>tablet') {
					display: block;
          top: 5%;
          right: -5%;
          z-index: 1;
          width: 90%;
          height: 100%;
          z-index: 3;
				}
			}

      @include media('>tablet') {
        margin-left: 0;
      }
		}

    &-top {
			position: absolute;
			bottom: calc(100% - 100px);
			left: 0;
			z-index: 4;

			img {
				position: relative;
				width: auto;
				height: auto;
			}

			&::before {
				@extend %dots-pattern;
				display: none;

				@include media('>tablet') {
					display: block;
					top: -10%;
					right: -10%;
					z-index: 1;
					width: 63%;
					height: 100%;
          z-index: 3
				}
			}

      @include media('>tablet') {
        bottom: calc(100% + 200px);
        left: 50%;
        transform: translateX(-50%);
      }
		}

    &-side {
      display: none;
      position: absolute;
      top: 0;
      right: 0;

      &::after {
				@extend %dots-pattern;

				display: none;

				@include media('>phone-small') {
					display: block;
          top: 20%;
          right: 20%;
          z-index: 1;
          width: 100%;
          height: 100%;
          z-index: 3;
				}
			}

      @include media('>tablet') {
        display: block;
        top: -100px;
      }
    }
  }

	&-header {
		position: relative;
		z-index: 4;
    margin-bottom: rem-calc(30);

		@include media('>tablet') {
			
		}

		@include media('>desktop-small') {
			
		}

		@include media('>desktop-medium') {
			
		}

		@include media('>desktop-large') {
			
		}

		@include media('>desktop-xlarge') {
			
		}

		&__subtitle {
			@extend %header__subtitle--light;

			margin-bottom: rem-calc(15);

			@include media('>desktop-small') {
				margin-bottom: rem-calc(18);
			}

			@include media('>desktop-medium') {
				margin-bottom: rem-calc(20);
			}

			@include media('>desktop-large') {
				margin-bottom: rem-calc(24);
			}
		}

		&__title {
			@extend %header__title--light;
		}
	}

	&-content {
		position: relative;
		z-index: 2;
		padding: rem-calc(120) rem-calc(60);
    background-color: $color-slate;
    margin-right: rem-calc(40);

		@include media('>phone-small') {
			
		}

		@include media('>tablet') {
      flex: 1;
      margin-right: rem-calc(160);
      margin-bottom: rem-calc(100);
      padding: rem-calc(120);
		}

		@include media('>desktop-small') {
			
			
		}

		@include media('>desktop-medium') {
			
			
		}

		@include media('>desktop-large') {
			
			
		}

		@include media('>desktop-xlarge') {
			
		}

		&__text {
			width: 87%;

			@include media('>tablet') {
				
			}

			@include media('>desktop-small') {
				
			}

			@include media('>desktop-medium') {
				width: 100%;
				
			}

			@include media('>desktop-large') {
				
			}
		}

		&__button {
			@extend %site-button;

			@include media('<400px') {
				padding-left: rem-calc(12);
				padding-right: rem-calc(46);
			}
		}
	}
}
